<div ng-app="app"> 
    <header>
        <h1> Iron Works </h1>
        <h2> A Homework Management Tool for Iron Yarders, by Iron Yarders </h2>
    </header>

    <div ui-view> </div>
    <footer>
        <nav>
            <div class="left"> About </div>
            <div class="left"> Contact </div>
            <div class="right"> <a href="#"> IronWork@email.com </a> </div>
            <div class="right"> <a href="#"> 888-888-IRON </a> </div>
    </footer>
</div>