<body>
	<header>
		<h1> DayTripper </h1>
		<h2> Places To Visit! </h2>
	</header>  
	<section id="mount-point"> </section>
	<script type="text/jsx">

	/** @jsx React.DOM */

	var PostComponent = React.createClass({
		handleSubmit: function(e) {
			console.log('clicked');
			e.preventDefault();
			console.log(React.findDOMNode(this.refs.link).value);

			var locationObject = {
				Title: '',
				URL: ''
			};
			console.log(locationObject);

			locationObject.Title = React.findDOMNode(this.refs.location).value;
			locationObject.URL = React.findDOMNode(this.refs.link).value;

		    React.findDOMNode(this.refs.location).value = '';
		    React.findDOMNode(this.refs.url).value = '';
		    
			$.ajax({
				url: 'http://tiny-pizza-server.herokuapp.com/collections/trav-react/',
				dataType: 'json',
				type: 'POST',
				data: locationObject,
				success: function(data) {
					console.log('Successful post');
					this.setState({locationObject: locationObject});
				}.bind(this),
				error: function(xhr, status, err) {
					//console.error(this.props.url, status, err.toString());
				}.bind(this)
			});

			return;	
		},
		render: function() {
			return (
				<div className = "image-poster">
					<form onSubmit={this.handleSubmit}>
						<input type="text" placeholder="Location" ref="location" />
						<input type="url" placeholder="Image URL" ref="link" />
						<br/>
						<input type="submit" value="Post" />
					</form>
				</div>
			)
		}
	});

	var TripList = React.createClass({ 
		getInitialState: function() {
			return { pictures: [] };
		},
		componentDidMount: function() {
			var self = this;
			var url = 'http://tiny-pizza-server.herokuapp.com/collections/trav-react';
			$.getJSON(url, function(result) {
				if(!result){
               		return;
           		}

           		var pictures = result.map(function(p){
                return { 
                    id: p._id, 
                    src: p.URL, 
                    title: p.Title 
                };

            });

            self.setState({ pictures: pictures });
        	});
		},
		render: function() {
	        var self = this;

	        var pictures = this.state.pictures.map(function(p){
	            return (
	            	<div>
	            		<img ref={p._id} src={p.src} title={p.title}  />
	            		<span> {p.title} </span>
	            	</div>
	            	);
	        });
	        console.log(self.state);

	        if(!pictures.length){
	            pictures = <p>Loading images..</p>;
	        }

	        return (
	            <div>
	            	<PostComponent />
	                <h1>Locales to Visit</h1>
	                <div className="card"> {pictures} 
	                	<h2> {pictures.title} </h2>
	                </div>
	            </div>
	        );
	    }
	});

	React.render(
	    <TripList />,
	    document.getElementById('mount-point')
	);
	</script>
</body>
