<section>
	<header>
		<h1> Registration </h1>
	</header>
	<form ng-submit="loginSubmit(username, userpassword)">
		<input ng-model="username" type="text" placeholder="Please enter your username"> 
		<input ng-model="userpassword" type="Password" placeholder="Password">
		<button> Sign Up </button>
	</form>
	<span ng-show="emailErrorMsg"> That is not a valid email </span>
	<span ng-show="passwordErrorMsg"> That is not a valid password </span>
	<span ng-bind="loginErrorArray"> </span>
	<div>
		<a ui-sref="login"> Back to the Log In Page! </a>
	</div>
</section>